body {
    font-family: 'Inter', sans-serif;
    background-color: #f5f5f5;
    color: #000000;
  }  
  #container {
    position: absolute;
    left: 10%;
    top: 30%;
    transform: translate(-50%, -50%);
    background-color: #f0f0f0;
    padding: 10px;
    border: 1px solid #ccc;
}
.header{
    background-color: rgb(205, 205, 205);
    text-align: center;
    padding: 2.5%;
    font-weight: bolder;
    margin-bottom: 2.5%;
}

.carosello {
    position: relative;
    width: 100%;
    max-width: 600px;
    margin: auto;
    overflow: hidden;
    border: 2px solid #000;
}
.carosello img {
    width: 100%;
    display: none;
}
.carosello img.active {
    display: block;
}
.prevNext{
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.prevNext button {
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    color: #fff;
    padding: 10px;
}

.info {
    margin-top: 2.5%;
    padding: 5%;
    background-color: rgb(228, 228, 228);
    text-align: center;
}

.footer {

    padding: 5%;
    background-color: #333;
    color: #fff;
    text-align: center;
}